@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome to Azure Portal</h1>
=======
    <h1 class="display-4">Welcome to Azure</h1>
>>>>>>> 084de3a366c3f454714cf5d645f2e95c50b4d55d
    <h2>Hello Arun</h2>
</div>
